<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login page</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div class="container row">
    <div class="col">
            <span>
                <p>ASTRO</p>
                <p>PLATFORM</p>
            </span>
    </div>
    <div class="col">
        <p th:if="${loginError}" class="error">Wrong user or password</p>

        <form th:action="@{/login}" method="post">
            <input id="username" name="username" placeholder="Username" type="text" autofocus="autofocus"/>
            <br/>
            <input id="password" name="password" placeholder="Password" type="password"/>
            <br/>
            <input type="submit" value="Log in"/>
        </form>

        <p>
            <a href="/" th:href="@{/index}">Back to home page</a>
        </p>
    </div>
</div>
</body>
</html>